body {
  font-family: "VT323", monospace;
  text-transform: uppercase;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 54.2%,
    rgb(21, 186, 196) 100.3%
  );
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: #9f1861;
}

h1 {
  color: #27296d;
  display: block;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 100;
  height: 26px;
  line-height: 28px;
  width: 326px;
  margin-bottom: 10;
  padding: 10px 0px 30px 0px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  color: #323643;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 100;
  line-height: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  max-width: 600px;
  margin: 5px auto;
  padding: 20px;
  border: 3px dashed #27296d;
  border-radius: 10px;
  background: #feffdf;
  opacity: 0.9;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  float: left;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #323643;
  display: inline;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 20px;
  top: -20px;
}

.weather-temperature .active {
  color: #323643;
  cursor: default;
}

.weather.forecast {
  margin-top: 30px;
  text-align: center;
}

.forecast-date {
  font-size: 20px;
  color: black;
  opacity: 0.7;
}

.forecast-temperature {
  color: black;
  font-size: 20px;
}

.min-forecast-temp {
  color: black;
  opacity: 0.7;
}
